java-se/specialized/jaxb/resources/com/jellyfish77/MovieCMM.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="NullOrInteger">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d*|\s{0}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NullOrFloat">
		<xs:restriction base="xs:string">
			<xs:pattern value="[-+]?[0-9]*\.?[0-9]+|\s{0}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nillableDate">
		<xs:annotation>
			<xs:documentation>Enable null for date</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:date emptyString"/>
	</xs:simpleType>
	<xs:simpleType name="emptyString">
		<xs:restriction base="xs:string">
			<xs:length value="0"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:element name="Movie">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="Title"/>				
				<xs:element type="xs:string" name="ImdbId"/>				
				<xs:element type="NullOrInteger" name="Gross"/>
				<xs:element name="Format">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="Type"/>
							<xs:element type="xs:string" name="Color"/>
							<xs:element type="xs:string" name="Language"/>
							<xs:element type="NullOrFloat" name="AspectRatio"/>
							<xs:element type="NullOrInteger" name="Runtime"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Production">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Countries">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="Country" maxOccurs="unbounded" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="NullOrInteger" name="Budget"/>
							<xs:element type="NullOrInteger" name="Year"/>
							<xs:element name="ReleaseDate" type="nillableDate" minOccurs="0"/>
							<xs:element name="DvdDate" type="nillableDate" minOccurs="0"/>
							<xs:element type="xs:string" name="Website"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Genres">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="Genre" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Plot">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="Description"/>
							<xs:element name="PlotKeywords">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="PlotKeyword" maxOccurs="unbounded" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:string" name="Poster"/>
				<xs:element type="xs:string" name="Awards"/>
				<xs:element type="xs:int" name="UserVotes"/>
				<xs:element type="NullOrInteger" name="NumUsersReviewed"/>
				<xs:element type="xs:string" name="Rating"/>
				<xs:element type="xs:anyURI" name="ImdbLink"/>
				<xs:element type="xs:string" name="Country"/>
				<xs:element type="NullOrInteger" name="FacebookLikes"/>
				<xs:element type="NullOrInteger" name="NumPosterFaces"/>
				<xs:element name="Director">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="Name"/>
							<xs:element type="NullOrInteger" name="FacebookLikes"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Writers">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" maxOccurs="unbounded" minOccurs="0" name="Writer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="NullOrInteger" name="NumReviews"/>
				<xs:element name="Cast">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Actors">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Actor" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:byte" name="Biling" minOccurs="0"/>
													<xs:element type="xs:string" name="Name"/>
													<xs:element type="NullOrInteger" name="FacebookLikes" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Ratings">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Rating" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="Source"/>
										<xs:element type="xs:string" name="Value"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
